$maya: #73C2FB;
$powder: #B0DFE5;
$royal: #111E6C;
$yale: #0E4D92;
$iron: #3a3c40;
$copper: #b4745e;
$gold: #e7bd42;
$rem: #4b4169;
$silver: #c0c0c0;

.ironP {
	background-color: $iron;
	color: white;
}
.copperP {
	background-color: $copper;
	color: white;
}
.goldP {
	background-color: $gold;
	color: white;
}
.remP {
	background-color: $rem;
	color: white;
}
.silverP{
	background-color: $silver;
	color: white;
}