
.graph{
    width: 100%;
    min-height: 400px;
    
  
    #landIndex, #ironGraph, #copperGraph, #silverGraph, #goldGraph, #econHealthGraph{
        width: 100%;
        min-height: 400px;
    }   
}