//Colours
$main-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$iron: #4d504b;
$copper: #b85233;
$silver: #b5b5bd;
$gold: #e7bd42;


$lightblue: #2980b9;
$darkblue: darken($lightblue, 10);

$buttonBG: white;
$buttonHover: darken(white, 10);


*{
    margin: 0;
    border: 0;
    font-family: "Open Sans", sans-serif; 
    

}
html{
    height: 100%;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#mining{
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}
// Ore Colors
.block{

}
.circle{
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
.iron{
    background: rgba($iron, 0.5);
}
.copper{
    background: rgba($copper, 0.6);
}
.silver{
    background: $silver;
}
.gold{
    background: $gold;
}

// Navbar
.nav-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: $lightblue;
    border-bottom: solid 4px $darkblue;
}
.nav-bar{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
#navbar-expand{
    padding: 10px 12px;
    cursor: pointer;
    display: none;
}
.nav-bar li{
    display: flex;
    justify-content: space-between;
    margin-right: 1px;
}
.nav-link{
    display: block;
    padding: 10px 12px;
    color: #f2f2f2;
    font-weight: bold;
    text-decoration: none;
    transition: background 0.5s;
        &:hover{
        background: $darkblue;
    }
    
}
.nav-item{
    display: flex;
    justify-content: space-between;
}
.router-link-active{
    background: $darkblue;
}

//General 
.shadow{
    width: 90%;
    margin: 0 auto;
    box-shadow: $main-shadow;
    border-radius: 4px;
    padding: 6px;
}

.flex-row{
    display: flex;
}
.wrap{
    flex-wrap: wrap;
    justify-content: center;

}
.flex-col{
    display: flex;
    flex-direction: column;
}
.toasted-container.top-right{
    top: 2% !important;
    right: 5% !important;
}


//Map Styles
.mapWrapper{
    .shadow{
        padding: 12px;
    }
}
.mapLocations{
    margin: 24px auto;
    display: flex;
    margin-bottom: 100px;
    
}


.locationWrapper{

    margin: 32px auto;
    display: flex;
    flex-direction: column;



}


.map-title{
    align-self: baseline;
    margin: 0px auto;
    margin-top: -28px;
    background: $lightblue;
    color: white;
    padding: 12px;
    border-radius: 4px;
    font-weight: bold;
    margin-bottom: 24px;
}

// Land Items
.land-item{
    display: flex;
    position: relative;
    cursor: pointer;
    border-radius: 4px;
    width: 260px;
    height: 320px;
    margin: 12px;
    background-position: center;
    background-size: cover;

    .default{
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}
.land-table{
    background: white;
    padding: 2px;
    border-radius: 4px;
    align-self: center;
    tr{
        display: flex;
        margin: 12px;
        .amount{
            padding-left: 12px;
        }
    }
}

.land-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    margin: 16px 26px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border-radius: 4px;
    margin-bottom: 36px;

    &:hover{
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

}
.land-title{
    background: white;
    font-weight: 500;
    font-size: 20px;
    padding: 4px;
    border-radius: 4px;
    margin-top: 12px;
    margin-bottom: 24px;
    align-self: center;
}

.land-button{
    margin-top: 20px;
    border-radius: 4px;
    padding: 8px;
    text-align: center;
    background: $buttonBG;
    transition: all 0.3s;
    user-select: none;
    -moz-user-select: none;
    cursor: pointer;
    &:hover{
        background: $buttonHover;
    }
}

.tooltipWrapper{
    margin-right: auto;
    margin-left: 8px;
    
    position: relative;
    display: inline-block;
    .tooltip{

        background: white;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        transition: all 0.2s;
        &:hover{
            background: darken(white, 8);
        }

    
    }

    .tooltipText{
        opacity: 0;
        $width: 200px;
        width: $width;
        background: black;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: calc(- $width / 2);
        margin-top: 4px;
        z-index: 1;
        border-radius: 4px;
        transition: opacity 1s;
        div{
            padding: 8px;
            text-align: left;
            span{
                margin: 4px 0;
            }
        }
    }



}
.tooltipWrapper:hover .tooltipText{
   opacity: 1;
}


//Resource Container
.moneyDisplay{
    text-align: center;
    padding: 12px 0;
}
.resourceWrapper{
    overflow-x: auto;
    width: 90%;
    margin: 24px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .flex-row{
        justify-content: space-around;
        padding-bottom: 24px;
    }
    .col-title{
        font-weight: bold;
        padding: 24px 24px;
    }
}
.oreDisplay{
    min-width: 510px;
    overflow-x: auto;
    width: 100%;
    min-height: 140px;
    margin: 4px auto;
    tr{
        display: flex;
        margin: 4px auto;
    }
    th, td{
        flex-basis: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    td{
        margin-left: 2px;
        margin-right: 10px;
        text-align: center;
        border-radius: 4px;
    }
    .title{
        align-self: center;
        text-align: center;
    }
}

// InfoWrapper
.infoWrapper{
    width: 90%;
    margin: 24px auto;
}
.infoTable{
    border-collapse: separate;
    border-spacing: 30px 8px;
    input{
        font-size: 16px;
    }
}

// Media Queries 

@media screen and (max-width: 900px){
    #navbar-expand{
        display: flex;
    }
    .nav-bar{
        flex-direction: column;
    }
    .nav-bar li, .nav-link{
        flex: 1;
    }
}
